{% extends "base.html" %}

{% block content %}
<h1>Добавление товара</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.quantity.label }}<br>
        {{ form.quantity(class="form-control") }}<br>
        {% for error in form.quantity.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.wtype.label }}<br>
        {% for subfield in form.wtype %}
            <div class="form-check">
                {{ subfield(class="form-check-input") }}
                {{ subfield.label(class="form-check-label") }}
            </div>
        {% endfor %}
        {% for error in form.wtype.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.building_material.label }}<br>
        {{ form.building_material(class="form-control") }}
        {% for error in form.building_material.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.weaponry.label }}<br>
        {{ form.weaponry(class="form-control") }}
        {% for error in form.weaponry.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

   <div class="form-group form-check">
        {{ form.used(class="form-check-input") }}
        {{ form.used.label(class="form-check-label") }}
    </div>

    <div class="form-group form-check">
        {{ form.tool(class="form-check-input") }}
        {{ form.tool.label(class="form-check-label") }}
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
</form>
{% endblock %}